* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
}

//Web Browser
@media screen and (min-width:1000px) {
    //Grid system
    @for $gridsize from 1 through 12 {
        .col-md-#{$gridsize} {
            width: 100%*$gridsize/12;
        }
    }
}

//Mobile Phone
@media screen and (max-width:500px) {
    //Grid system.
    @for $gridsize from 1 through 12 {
        .col-sm-#{$gridsize} {
            width: 100%;
        }
    }
}
